{% load static %}

<head>
    <title>EVENTS</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}" >
</head>

<body>
    {% block base %}
    <div class="header">
        
        <nav>
            <h1>WELCOME</h1>
            <ul>
                <li>HOME |</li>
                <li>ABOUT | </li>
                <li>CONTACTS | </li>
                <li>SERVICE|</li>
            </ul>
        </nav>
    </div>
    {% endblock %}
</body>
<style>
    body{
        color: white;

    }
</style>